.root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--content-pad);

  padding-bottom: calc(var(--navbar-h) + var(--content-pad));
}

@media (min-width: 1024px) {
  .main {
    padding-top: calc(var(--topbar-h) + var(--content-pad));
    
    padding-bottom: var(--content-pad);
  }
}

.fullWidth {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1024px) {
  .fullWidth {
    padding-left: 0;
    padding-right: 0;
  }
}
